.work {
    min-height: 738px;
    width: 100%;
    .container {
        max-width: 1050px;
    }
    .work_items {
        min-height: 738px;
        width: 100%;
        padding-top: 80px;
        .work_title {
            @include title-style;
            font-family: Work Sans;
            font-size: 38px;
            font-weight: 600;
        }
        .work_subtitle {
            @include subtitle-style;
            font-family: Work Sans;
            font-size: 22px;
            font-weight: 400;
        }
    }
    .work_content {
        min-height: 439px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 48px;
        .work_item {
            height: 438px;
            background-color: #3b3b3b;
            border-radius: 20px;
            text-align: center;
            @include up-animation;
            .item_text {
                .item_title {
                    color: rgb(255, 255, 255);
                    font-family: Work Sans;
                    font-size: 22px;
                    font-weight: 600;
                    line-height: 140%;
                    text-align: center;
                }
                .item_subtitle {
                    color: rgb(255, 255, 255);
                    font-family: Work Sans;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 140%;
                    text-align: center;
                    margin-top: 15px;
                }
            }
        }
    }
}
